UseColor: true
WarningsAsErrors: '*'
Checks: >
  -*, # conservatively disabling plenty of useful checks

  bugprone-*,
  -bugprone-easily-swappable-parameters,

  readability-braces-around-statements,

  clang-analyzer-*,

  misc-include-cleaner,
  misc-header-include-cycle,
  misc-misplaced-const,
  misc-static-assert,
